.AppBarStyle {
    color:whitesmoke;
    display: inline-block;
    position: relative;
    font-weight: bold;
}
a.MuiButton-root.AppBarStyle{
  color: whitesmoke !important;

}
/* #AppBarStyle:hover{
    text-decoration: underline;
    color: white;
    text-decoration-color: aliceblue;
    transition: transform 0.25s ease-out;
    transform: scaleX(1);
    transform-origin: bottom left;
} */

.AppBarStyle:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .AppBarStyle:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
